.user-dropdown {
    position: relative;
    display: inline-block;
  }

  .user-info {
    background-color: #f8f9fa;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .user-icon {
    color: orange;
    font-size: 20px;
  }

  .user-name {
    font-weight: 600;
  }

  .logo_height{
    height: 74px !important;
    width: 189px !important;
  }
  .logo_height1{
    height: 23px !important;
    width: 76px !important;
  }


    .pagination {
        justify-content: center;
        margin-top: 1rem;
    }

    .pagination .page-item .page-link {
        color: #0d6efd;
        border-radius: 50px;
        padding: 6px 14px;
        margin: 0 3px;
        transition: all 0.2s ease-in-out;
    }

    .pagination .page-item.active .page-link {
        background-color: #0d6efd;
        color: white;
        border-color: #0d6efd;
    }

    .pagination .page-item.disabled .page-link {
        color: #6c757d;
    }

